<div
  class="bg-white border border-slate-200 p-4 rounded-2xl shadow-sm flex items-center justify-between group hover:border-primary/20 transition-all"
>
  <div class="flex items-center gap-4">
    <button
      class="size-6 rounded-md border-2 border-slate-200 hover:border-primary flex items-center justify-center transition-colors"
    >
      <span class="material-symbols-outlined text-[16px] text-transparent group-hover:text-primary">
        check
      </span>
    </button>

    <div>
      <h4 class="font-bold text-slate-900 text-base">
        Finalize Q3 Infrastructure Audit
      </h4>

      <div class="flex items-center gap-4 mt-1.5">
        <span class="text-xs text-slate-500 flex items-center gap-1.5">
          <span class="material-symbols-outlined text-[16px]">engineering</span>
          Engineering Team
        </span>

        <span class="text-xs text-red-500 font-bold flex items-center gap-1.5">
          <span class="material-symbols-outlined text-[16px]">event</span>
          Due Today
        </span>
      </div>
    </div>
  </div>

  <div class="flex -space-x-2">
    <img
      alt="Assignee"
      class="size-8 rounded-full border-2 border-white"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuA1G_oXaO8hLbN3bYYUEGPU06nZnY82GzD-Cc0IsmngGsqmoGcChnwDPB7_QUPQ3dc2-duLIWui4UflcNAeLXqEZ0pxmft6_dJCu-bl20b4laYc-e8nE-Lik0tY6Pbw-gSjKdbLfxwETUBT8uNfknXywNff9sfUKOTtljE3F9hvVD69kTlmgDW4wVR7NeiIn7HCnfD2Hc5joF1-kMLvA79j430QRLy-S6lzf4LJ-imyxnhqrp2pD3keEDfn1bWU_iDU-2ITYzIOqEY"
    />
  </div>
</div>
