.material-symbols-outlined {
        font-variation-settings:
          "FILL" 0,
          "wght" 400,
          "GRAD" 0,
          "opsz" 24;
      }
      .active-nav {
        background-color: #f0f2f4;
        color: #111318;
      }
      .dark .active-nav {
        background-color: #1e293b;
        color: #f8fafc;
      }