<div
  class="group relative flex flex-col bg-white p-5 rounded-xl border border-gray-200 shadow-sm hover:shadow-md hover:border-primary/50 transition-all cursor-pointer"
  [routerLink]="['/workspaces/board/kanban']"
>
  <div class="flex justify-between items-start mb-4">
    <div class="size-10 rounded-lg bg-blue-500/20 flex items-center justify-center text-blue-600">
      <span class="material-symbols-outlined">campaign</span>
    </div>
    <button class="text-gray-300 hover:text-yellow-400">
      <span class="material-symbols-outlined">star</span>
    </button>
  </div>

  <h3 class="font-bold text-base mb-1 text-gray-900">Marketing Campaign</h3>
  <p class="text-xs text-gray-500 mb-6">Last active 2h ago</p>

  <div class="mt-auto">
    <div class="flex justify-between text-xs font-medium mb-1.5">
      <span class="text-gray-500">Progress</span>
      <span class="text-primary">12/20 Tasks</span>
    </div>

    <div class="w-full h-1.5 bg-gray-100 rounded-full overflow-hidden">
      <div class="h-full bg-primary" style="width: 60%"></div>
    </div>

    <div class="flex items-center mt-4 -space-x-2">
      <div
        class="size-7 rounded-full border-2 border-white bg-cover"
        data-alt="Team member 1"
        style="
          background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDNk43xLpSbef0WUI_tFbglb4mWMl2d67zuQA9-SOAILhL8FTxD_Ia0yNEreziOw0F3Fe2WWSAU242LLrUk2p4FCuwfmN2sQMYSL5xkh2DEWuDmXxs1jzmtGbFHct9jXhCQ7gqhG1DtPmQYyr17Ei2MTnoRpLQ5Zvk8TnA10jK9b0hLzWEk7RCuVlzwCgQ02spwNggCZp1_ZpsEUmJh3VbzR9IqrWbjUDkPKJPOKNWyJ1dtvk6jO1SfW4jPHyIu39Vlkpwac7Kyyps');
        "
      ></div>

      <div
        class="size-7 rounded-full border-2 border-white bg-cover"
        data-alt="Team member 2"
        style="
          background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuALVI_L4Xx7IhECUYanhyCobWO2D6UCbtp7XLV-Tyg43rg7tkxcCE_P3h1pG8O1JlMiF9KVA_tyh92GrqLjJcCM2ud9cvKa6ZN54xV9bM0N9Nh8YagfHwx8sD-FHooYgsbvoNU38bn5j4b9B1KEI-ZASKEIrFQHA5zvgoVh5pDWJaxbSMubV8Lz-MrmyuyXSnoBlLhM2N9fIqjP7KkVKbgd2BZVTj2IN5QMzk8829iVDRWpxEf9yrGu_BjfAUpTt-4rIOvr1TsDb9U');
        "
      ></div>

      <div
        class="size-7 rounded-full border-2 border-white bg-cover"
        data-alt="Team member 3"
        style="
          background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCvR--Vsv1jZRR5Avg1G0qqTHsMPekYJNDQCEVjtv4rkw8N-JlFnQKU-94qyP4bbKkOCDPCe-Y4Z91IhXacsZa7cWQ0SWf8lNBFFb2Lhnmz_KFlBpcRZOOom3STMrFPVLvk8RR7M_9DaC3OQwq_BPfxDVh_1zJYjEqfGvH6cCTz9TtziyXZEE50Is1LS_ccXWI2q2gdLwjDIBdv-D-X3vQgU15U-s4wNCyIhX9Nd_U-gofgbhFhX3CKVvdLPGO9SNsioOuAtifAwc0');
        "
      ></div>

      <div
        class="size-7 rounded-full border-2 border-white bg-gray-100 flex items-center justify-center text-[10px] font-bold text-gray-500"
      >
        +2
      </div>
    </div>
  </div>
</div>
